@page
@model CollaborateSoftware.MyLittleHelpers.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Log In";
}


<div class="row">
    <div class="m-auto col-sm-12 col-md-8 col-lg-4">
        <section>
            <form id="account" method="post">             
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="margin: 10px">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" area-requirement="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin: 10px">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" area-requirement="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div style="margin: 10px">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                </div>
            </form>
        </section>
    </div>
</div>
