@page "/"
@inject IToastService toastService

<h1>My Little Helpers</h1>

Welcome to my collection of apps which help with organizing your life.

<hr />

<div class="d-flex justify-items-start">
    <div class="card m-3" style="width: 18rem;">
        <img src="/images/TaskListScreenshot.jpg" class="card-img-top m-3" style="width: 15rem;" alt="to list screenshot">
        <div class="card-body">
            <h5 class="card-title">Task List</h5>
            <p class="card-text">Manage your task list.</p>
            <a href="/todolist" class="btn btn-primary">Try app</a>
        </div>
    </div>

    <div class="card m-3" style="width: 18rem;">
        <img src="/images/CalendarScreenshot.jpg" class="card-img-top m-3" style="width: 15rem;" alt="calendar screenshot">
        <div class="card-body">
            <h5 class="card-title">Calendar Generator</h5>
            <p class="card-text">Generate a calendar</p>
            <a href="/calendar" class="btn btn-primary">Try app</a>
        </div>
    </div>
</div>