@page "/"
@inject IToastService toastService

<h1>My Little Helpers</h1>

Welcome to my collection of apps which help with organizing your life.

<hr />

<div class="card" style="width: 18rem;">
    <img src="/images/TaskListScreenshot.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Task List</h5>
        <p class="card-text">Manage your task list.</p>
        <a href="/todolist" class="btn btn-primary">Try app</a>
    </div>
</div>