@namespace CollaborateSoftware.MyLittleHelpers.Areas.Identity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body style="margin: 50px">
    <div class="main">
        <div class="top-row px-4">
            <a href="\identity\account\login" target="_blank">Login</a>
            <a href="\identity\account\register" target="_blank">Register</a>
        </div>

        <div class="content px-4">
            <BlazoredToasts />
            @RenderBody()
        </div>
    </div>
</body>
</html>