@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<AuthorizeView>
    <Authorized>
        <div class="main">
            <div class="top-row px-4">
                <a href="\identity\account\logout">LogOut</a>
            </div>

            <div class="content px-4">
                <BlazoredToasts />
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="main">
            <div class="top-row px-4">
                <a href="\identity\account\login" target="_blank">Login</a>
                <a href="\identity\account\register">Register</a>
            </div>

            <div class="content px-4">
                <BlazoredToasts />
                @Body
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>